<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932846129523-ltb00kpjgot5s78a9n43iar45mt50ove.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932846129523-ltb00kpjgot5s78a9n43iar45mt50ove</string>
	<key>API_KEY</key>
	<string>AIzaSyB4GFccTv_R1H5HuMj5I7AhS3DgsXoRUbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>932846129523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.haruchip</string>
	<key>PROJECT_ID</key>
	<string>haruchip-6a5aa</string>
	<key>STORAGE_BUCKET</key>
	<string>haruchip-6a5aa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932846129523:ios:ebc2c60e813be8e993f506</string>
</dict>
</plist>